@{
    ViewData["Title"] = "Admin Panel";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <ul>
        <li>
            <a href='~/Admin/Users/Index'>
                Users
            </a>
        </li>
        <li>
            <a href='~/Admin/Users/Create'>
                User Registration
            </a>
        </li>
    </ul>
</div>
